<div class="container">
  <%= simple_form_for [@cocktail, @doses] do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient_id %>

    <%= f.submit "add a dose", class: "btn btn-primary" %>
  <% end %>
</div>
